<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <test thread-count="5" name="ZEUStoWOP">
    <classes>
      <class name="com.apihttps.test.ZeusToWOP"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="RLtoWOP">
  <classes>
      <class name="com.apihttps.test.RLtoWOP"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="MPtoWOP">
    <classes>
      <class name="com.apihttps.test.MPtoWOP"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
